<!DOCTYPE html>
<html>
<head>
    <title>$appSettings.getTitle() Widget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.1/flatly/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="http://sslstatic.wix.com/services/js-sdk/1.23.0/js/Wix.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha1.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/core-min.js"></script>



    <style>
        #container {
            padding: 20px;
            max-width: 400px;
            margin: 0 auto;
        }
        .form-group {
            margin-bottom: 0;
        }
        .modal-dialog {
            margin-top: 50px;
        }


    </style>
</head>

<body>
<div class="container-fluid" id="container" class="container">
    <div class="row-fluid">
        <div class="hero-unit" id="title">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <form class="bs-example form-horizontal">
                    <fieldset>
                        <legend>Edit Song</legend>
                        <div class="form-group">
                            <label for="song_name" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control input-sm" id="song_name" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="song_price" class="col-lg-2 control-label">Price</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control input-sm" id="song_price" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="song_file" class="col-lg-2 control-label">File ID</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" id="song_file" placeholder="">
                            </div>
                            <div class="col-sm-6">
                                <button class="btn" id="add_song">Select Song</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <form class="bs-example form-horizontal">
                    <fieldset>
                        <legend>Edit PayPal Express Checkout</legend>
                        <div class="form-group">
                            <label for="api_username" class="col-lg-2 control-label">API Username</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control input-sm" id="api_username" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="api_password" class="col-lg-2 control-label">API Password</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control input-sm" id="api_password" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="api_signature" class="col-lg-2 control-label">API Signature</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control input-sm" id="api_signature" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="store_currency" class="col-lg-2 control-label">Store Currency</label>
                            <div class="col-lg-10">
                                <select class="form-control input-sm" id="store_currency">
                                    <option>USD</option>
                                    <option>EUR</option>
                                    <option>ILS</option>
                                    <option>BRL</option>
                                    <option>RUB</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <button id="fill_details" class="btn btn-link">Fill-In Details</button>
                <button id="buy_now" class="btn btn-default pull-right">Buy Now!</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


    $('#add_song').on('click', function(e) {
        e.preventDefault();
        var imageUrl = Wix.Settings.openMediaDialog(Wix.Settings.MediaType.AUDIO, false, function(data) {
            $('#song_file').val(data.relativeUri);
            console.log("File Uri: ", data.relativeUri);
        });
    });



    $('#buy_now').on('click', function(e) {
        e.preventDefault();

        var data = populateData();
        var fingerprint = generateFingerprint(data);

        var html = '<form id="purchase" action="http://postlog.eu01.aws.af.cm/music" method="POST">';
        for ( var key in data ) {
            html += '<input type="hidden" name="' + key + '" ';
            html += 'value="' + data[key] + '"';
            html += '>';
        }
        html += '<input type="submit" value="Buy" style="visibility: hidden;">';
        html += '</form>';
        html += '<script>';
        html += 'var MyIFrame = document.getElementById("send_payment");';
        html += 'var MyIFrameDoc = (MyIFrame.contentWindow || MyIFrame.contentDocument);';
        html += 'if (MyIFrameDoc.document) MyIFrameDoc = MyIFrameDoc.document;';
        html += 'MyIFrameDoc.getElementById("purchase").submit();';
        html += '<\/script>';

        console.log("HTML: ", html);

        openModal(html);

    });

    function openModal(html) {
        console.log("aaa: ", html);

        var $payment = $('#payment');

            $payment.find('div.modal-body').append('<iframe id="send_payment" frameborder="0"></iframe>');
        var $content = $('#send_payment').contents();

            $payment.modal();
            $content.find("body").append(html);
    }


    $('#fill_details').on('click', function(e) {
        e.preventDefault();
        $('#api_username').val('checkoutseller_api1.gmail.com');
        $('#api_password').val('1384155179');
        $('#api_signature').val('Ar0VprKYexghecUS4CZYMCkYFJOYA9eUWoblNZa2nockSEsdBloQMzT8');

        $('#song_name').val('Like a Bird');
        $('#song_price').val('1.99');
        $('#song_file').val('Ar0VprKYexghecUS4CZYMCk');
    });

    function generateFingerprint(crypt_obj) {
//        total^currency^referenceId^timestamp^username

        APPLICATION_SECRET_KEY = "0c69a041-f119-4c0b-a8d7-205e96d4a9d2";

        var crypt_string = crypt_obj.transactionTotal + '^';
        crypt_string += crypt_obj.transactionCurrency + '^';
        crypt_string += crypt_obj.transactionReferenceId + '^';
        crypt_string += crypt_obj.transactionTimestamp + '^';
        crypt_string += crypt_obj.paymentGatewayUsername;

        var fingerprint = CryptoJS.HmacSHA1(crypt_string, APPLICATION_SECRET_KEY);
        var hex = CryptoJS.enc.Hex.stringify(fingerprint);
        console.log("crypt_obj: ", crypt_obj );
        console.log("crypt: ", fingerprint );
        console.log("hex: ", hex );
        return hex;
    }

    function populateData() {
        var data = {
            metasiteId: 'aaaaa',
            instanceId: 'aaaa',
            appDefinitionId: 'dddd',
            itemQuantity_1: 1,
            paymentGatewayType: 'paypal_express'
        };

        data.itemTitle_1 = $('#song_name').val();
        data.itemPrice_1 = $('#song_price').val();
        data.itemFileId_1 = $('#song_file').val();
        data.transactionTotal = $('#song_price').val();
        data.transactionCurrency = $('#store_currency').val();
        data.itemSku_1 = 'dffeefefef';
        data.itemDescription_1 = 'sdfsdf dffeefefef';
        data.transactionReferenceId = Math.round( Math.random() * 10000000000 );
        var utc_time = new Date();
        data.transactionTimestamp = Math.round( (utc_time.getTime() + (utc_time.getTimezoneOffset() * 60)) / 1000.0 );
        data.paymentGatewayUsername = $('#api_username').val();
        data.paymentGatewayPassword = $('#api_password').val();
        data.paymentGatewaySignature = $('#api_signature').val();

        return data;
    }

    //            $('#instanceId').html(Wix.Utils.getInstanceId());
    //            $('#uid').html(Wix.Utils.getUid());
    //            $('#permissions').html(Wix.Utils.getPermissions());
    //            $('#signDate').html(Wix.Utils.getSignDate());

</script>




<script>
    var settings = ${settings};
//    $(document).ready(function() {
//        init();
//    });



    function updateApp(color, title) {
        settings.styling.color = color;
        settings.title = title;

        var compId = Wix.Utils.getOrigCompId();

        jQuery.ajax({
            'type': 'post',
            'url': "/app/settingsupdate",
            'dataType': "json",
            'contentType': 'application/json; chatset=UTF-8',
            'data': JSON.stringify({compId: Wix.Utils.getOrigCompId(), settings: settings}),
            'cache': false,
            'success': function(res) {
                console.log("update setting completed");
                setTimeout( function() {
                    Wix.Settings.refreshAppByCompIds(compId);
                }, 2000);
            },
            'error': function(res) {
                console.log('error updating data with message ' + res.responseText);
            }
        });
    }


    function init() {
        $('#instanceId').html(Wix.Utils.getInstanceId());
        $('#uid').html(Wix.Utils.getUid());
        $('#permissions').html(Wix.Utils.getPermissions());
        $('#signDate').html(Wix.Utils.getSignDate());
    }
</script>
</body>
</html>

