<!DOCTYPE html>
<html>
<head>
    <title>$appSettings.getTitle() Widget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.1/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="/static/static/jplayer/jplayer.blue.monday.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <script src="http://dl.dropboxusercontent.com/u/61213782/Wix.ecom.js"></script>
<!--    <script src="http://sslstatic.wix.com/services/js-sdk/1.23.0/js/Wix.js"></script> -->

    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha1.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/core-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jplayer/2.4.0/jquery.jplayer.min.js"></script>
    <script src="/static/static/jplayer/jplayer.playlist.min.js"></script>
    <script src="/static/static/js/jplayer.js"></script>

    <style>
        #container {
            /*padding: 20px;*/
            /*max-width: 400px;*/
            margin: 0 auto;
        }
        .modal-dialog {
            /*margin-top: 50px;*/
            width: 300px;
        }
        #send_payment {
            height: 533px;
        }
        div.modal-content {
            background: none;
            border: none;
            border-radius: 0;
            -webkit-box-shadow: none;
        }

    </style>
</head>

<body>
<div class="container-fluid" id="container">
    <div id="jp_container_1" class="jp-audio">
        <div class="jp-type-playlist">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div class="jp-gui jp-interface">
                <ul class="jp-controls">
                    <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                    <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                    <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                    <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                    <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                    <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                </ul>
                <div class="jp-progress">
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"></div>
                    </div>
                </div>
                <div class="jp-volume-bar">
                    <div class="jp-volume-bar-value"></div>
                </div>
                <div class="jp-time-holder">
                    <div class="jp-current-time"></div>
                    <div class="jp-duration"></div>
                </div>
            </div>
            <div class="jp-playlist">
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function() {

        if ( !getFromLocalStorage('playlist') ) {
            player.testSavePlaylistToLocalStorage(test_playlist_array);
        }

        if ( !getFromLocalStorage('settings') ) {
            player.testSaveSettingsToLocalStorage({
                api_username: 'checkoutseller_api1.gmail.com',
                api_password: '1384155179',
                api_signature: 'Ar0VprKYexghecUS4CZYMCkYFJOYA9eUWoblNZa2nockSEsdBloQMzT8',
                store_currency: 'USD'
            });
        }

        player.init();

    });

    function getFromLocalStorage(type) {
        return JSON.parse( sessionStorage.getItem('music_player_tpa_' + type) );
    }



    function addBuyButtons(playlist) {
        console.log("playlist: ", playlist);
        var song_price = '';
        $('.jp-playlist ul li div').each( function(i) {
            song_price = playlist[i].song_price;
            $(this).append('<button class="song btn btn-primary btn-xs pull-right" data-index="' + i + '">' + song_price + '</button>');
        });
        $('.jp-playlist').find('button.song').on('click', function() {
            var sale_list = getFromLocalStorage('playlist');
            var sale_settings = getFromLocalStorage('settings');
            var this_song = sale_list[ $(this).data('index') ];
            sellSong(this_song, sale_settings);
        });

    }


    function sellSong(song, sale_settings) {
        var data = populateData(song, sale_settings);
        var fingerprint = generateFingerprint(data);

        if ( document.location.hostname === 'localhost' ) {

            var html = '<form id="purchase" action="http://safer-checkout.krembo.wixpress.com/tpa/checkout" method="POST">';
            for ( var key in data ) {
                html += '<input type="hidden" name="' + key + '" ';
                html += 'value="' + data[key] + '"';
                html += '>';
            }
            html += '<input type="submit" value="Buy" style="visibility: hidden;">';
            html += '</form>';
            html += '<script>';
            html += 'var MyIFrame = document.getElementById("send_payment");';
            html += 'var MyIFrameDoc = (MyIFrame.contentWindow || MyIFrame.contentDocument);';
            html += 'if (MyIFrameDoc.document) MyIFrameDoc = MyIFrameDoc.document;';
            html += 'MyIFrameDoc.getElementById("purchase").submit();';
            html += '<\/script>';

            console.log("HTML: ", html);

            openModal(html);

        }
        else {

            var obj = {
                "paymentGateway": {
                    "type":"paypal_express",
                    "username": data.paymentGatewayUsername,
                    "password": data.paymentGatewayPassword,
                    "signature": data.paymentGatewaySignature
                },
                "items":[
                    {
                        "quantity": 1,
                        "title": data.itemTitle_1,
                        "price": data.itemPrice_1,
                        "fileId": data.itemFileId_1,
                        "sku": data.itemSku_1,
                        "description": data.itemDescription_1
                    }
                ],
                "transaction":{
                    "total": data.transactionTotal,
                    "currency": data.transactionCurrency,
                    "referenceId": data.transactionReferenceId
                }
            };

            Wix.startCheckout(obj, fingerprint, function(msg) {
                console.log("Final Result: ", msg);
            });

        }
    }


    function openModal(html) {

        var payment_modal = $('#payment');

        payment_modal.find('div.modal-body').append('<iframe id="send_payment" frameborder="0"></iframe>');
        var content = $('#send_payment').contents();

        payment_modal.modal();
        content.find("body").append(html);

    }


    function generateFingerprint(crypt_obj) {
//        total^currency^referenceId^timestamp^username

        APPLICATION_SECRET_KEY = "0c69a041-f119-4c0b-a8d7-205e96d4a9d2";

        var crypt_string = crypt_obj.transactionTotal + '^';
        crypt_string += crypt_obj.transactionCurrency + '^';
        crypt_string += crypt_obj.transactionReferenceId + '^';
        crypt_string += crypt_obj.transactionTimestamp + '^';
        crypt_string += crypt_obj.paymentGatewayUsername;

        var fingerprint = CryptoJS.HmacSHA1(crypt_string, APPLICATION_SECRET_KEY);
        var hex = CryptoJS.enc.Hex.stringify(fingerprint);
        console.log("crypt_obj: ", crypt_obj );
        console.log("crypt: ", fingerprint );
        console.log("hex: ", hex );
        return hex;
    }


    function populateData(song, sale_settings) {
        var data = {
            metasiteId: 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa',
            appDefinitionId: 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa',
            itemQuantity_1: 1,
            paymentGatewayType: 'paypal_express'
        };

        data.itemTitle_1 = song.song_name;
        data.itemPrice_1 = song.song_price;
        data.itemFileId_1 = song.song_file;
        data.transactionTotal = song.song_price;
        data.transactionCurrency = sale_settings.store_currency;
        data.itemSku_1 = 'dffeefefef';
        data.itemDescription_1 = 'sdfsdf dffeefefef';
        data.transactionReferenceId = Math.round( Math.random() * 10000000000 );
        var utc_time = new Date();
        data.transactionTimestamp = (utc_time.getTime() + (utc_time.getTimezoneOffset() * 60));
        data.paymentGatewayUsername = sale_settings.api_username;
        data.paymentGatewayPassword = sale_settings.api_password;
        data.paymentGatewaySignature = sale_settings.api_signature;

        return data;
    }




    var test_playlist_array = [
        {
            song_name: 'Cool Track',
            song_price: '1.99',
            song_file: 'f1130f_45fb29c8d4424858b96f7aa60490d0b0.mp3'
        },
        {
            song_name: 'Tuolumne',
            song_price: '0.99',
            song_file: 'f1130f_a6046d6d6f134ecabe3b7a1b00c59ed5.mp3'
        },
        {
            song_name: 'Grux',
            song_price: '2.99',
            song_file: 'f1130f_3759a830633043e182fa625f8c584a6e.mp3'
        },
        {
            song_name: 'Air 1',
            song_price: '12.99',
            song_file: 'f1130f_ce0de52597e84a7e904f3685d78729fb.mp3'
        }
    ];



    //            $('#instanceId').html(Wix.Utils.getInstanceId());
    //            $('#uid').html(Wix.Utils.getUid());
    //            $('#permissions').html(Wix.Utils.getPermissions());
    //            $('#signDate').html(Wix.Utils.getSignDate());

</script>



</body>
</html>



