<!DOCTYPE html>
<html>
<head>
    <title>$appSettings.getTitle() Widget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.1/flatly/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="http://sslstatic.wix.com/services/js-sdk/1.23.0/js/Wix.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha1.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/core-min.js"></script>



    <style>
        #container {
            padding: 20px;
            max-width: 400px;
            margin: 0 auto;
        }
        .form-group {
            margin-bottom: 0;
        }
        .modal-dialog {
            margin-top: 50px;
        }
        #buy_now {
            margin-right: 20px;
        }

    </style>
</head>

<body>
<div class="container-fluid" id="container">
    <div class="row-fluid">
        <div class="hero-unit" id="title">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <form class="bs-example form-horizontal">
                    <fieldset>
                        <legend>Edit Song</legend>
                        <div class="form-group">
                            <label for="song_name" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control input-sm" id="song_name" placeholder="">
                            </div>
                        </div>
                     </fieldset>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


    //            $('#instanceId').html(Wix.Utils.getInstanceId());
    //            $('#uid').html(Wix.Utils.getUid());
    //            $('#permissions').html(Wix.Utils.getPermissions());
    //            $('#signDate').html(Wix.Utils.getSignDate());

</script>



</body>
</html>



